name: Generate Echidna Specification PDF
on:
  push:
    branches:
      - main
    paths:
      - '2026/8858_Echidna_Code/docs/**'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '3.1.11'

      - name: Install LaTeX
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            texlive-latex-recommended \
            texlive-latex-extra \
            texlive-fonts-recommended \
            texlive-fonts-extra \
            texlive-xetex \
            inkscape \
            librsvg2-bin

      - name: Run Echidna specification generation script
        run: cd 2026/8858_Echidna_Code/docs && pwsh -File ./docs_gen.ps1

      - name: GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "**/Echidna_Spec.pdf"
          tag: latest
          prerelease: false
          allowUpdates: true
